:root {
    --background: #000000;
    --background-circle: #dc0b0bb0;
    --warnicon : #DC0B0B;
    --maintext: #FFFFFF;
    --subtext: rgba(255, 255, 255, 0.41);

    .container {
    background-image: url('https://files.fivemerr.com/images/d1f23745-f7c4-4bc1-a0fb-b2385ebd6a8a.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

    
}