@font-face {
    font-family: crock;
    src: url(crock.ttf);
}

* {
    font-family: crock;
    box-sizing: inherit;
    touch-action: manipulation;
}

body {
    background: none !important;
}
.align-left {
   text-align: left;
   left: -15px;
}

#container {
    display: block;
    -webkit-user-drag: element;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    min-height: 50px;
    background-image: url(images/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition-duration: 2.0;
}

#text_system {
    text-align: center;
    line-height: 50px;
    color: rgb(255, 255, 255);
    font-family: crock;
    font-size: 20px;
}

#iconimage {
    position:absolute;
    background-image: url(images/bread.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    left: 50px;
    top: 50px;
    width: 70px;
    height: 70px;
}


#jailMenu {
    font-size: 17px;
    -webkit-user-drag: none;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     display: block;
     padding: 25px;
     color: rgb(255, 255, 255);
     position: absolute;
     top: 30%;
     left: 5%;
     width: 360px;
     max-width: 361px;
     height: 650px;
     max-height: 651px;
     background-image: url('images/backgroundMenu.png');
     background-size: 100% 100%;
     animation: fadeIn;
     animation-duration: 0.5s;
}

#jailData {
    overflow-y: auto;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: block;
    position: absolute;
    top: 150px;
    width: 360px;
    max-width: 361px;
    height: 500px;
    max-height: 501px;

}
  

.button {
    margin: 5px;
    padding: 5px;
    text-align: center;
    height:35px;
    background-color: rgb(39, 39, 39);
    transition-duration: 0.2s;
    border-style: inset;
    border-color: rgb(92, 1, 1);
}

.button:hover {
    margin: 5px;
    padding: 5px;
    text-align: center;
    height:35px;
    background-color: rgb(39, 39, 39);
    transition-duration: 0.2s;
    border-style: inset;
    border-color: rgb(128, 2, 2);
}
h2 {
    color: rgb(233, 233, 233);
    font-family: crock;
    text-align: center;
    position: fixed;
    font-size: 35px;
    margin-top: 0.13em;
    margin-bottom: 0.83em;
    margin-left: 0.50em;
    margin-right: 0;

    padding-top: 28px;

    width: 320px;
    height: 80px;
    background-image: url('images/title.png');
    background-size: 100% 100%;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(73, 73, 73); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #b3b3b3; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgb(39, 39, 39); 
}
