@font-face {
    font-family: crock;
    src: url(fonts/crock.ttf) format('truetype');
}

html {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    display: none;
}

#counter {
    margin-top: 2rem;
}

#counterNum {
    font-family: crock;
    font-size: 72px;
    color: white;
    /* background-image: url("./images/selection_box_bg.png");
    background-size: cover; */
}

#divider {
    width: 10%;
    height: 4px;
    background-image: url("./images/wanted_location_divider.png");
    background-size: cover;
}

#totalBet {
    font-family: crock;
    font-size: 48px;
    color: white;
    /* background-image: url("./images/selection_box_bg.png");
    background-size: 100%, 100%; */
}